@media (max-width: 1170px) {
  header .header-content {
    padding: 0 60px;
  }

  .card {
    width: 282px;
  }
}

@media (max-width: 932px) {
  .card {
    width: 344px;
  }

  .main-people-list {
    gap: 16px!important;
  }
}

@media (max-width: 768px) {
  header .header-content {
    padding: 0 32px;
  }
}

@media (max-width: 720px) {
  .card {
    width: 328px;
  }

  .main-people-list {
    gap: 20px !important;
  }
}

@media (max-width: 448px) {
  header .header-content{
    padding: 0 16px;
    gap: 12px;
  }
}

@media (max-width: 359px) {
  header {
    height: 36px!important;
    .header-content {
      padding: 0!important;
    }

    .header-buttons {
      gap: 0!important;
    }
  }
}


@media (max-width: 380px) {
  .nav-content {
    margin: 40px 16px 71px 16px !important;
  }
}


@media (max-width: 800px) {
  nav {
    min-height: 500px;
    background-position: 60% 76%!important;
  }
}


@media (min-width: 800px) {
  nav {
    height: 650px;
  }
}