@media (max-width: 1170px) {
  header .header-content {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  header .header-content {
    padding: 0 32px;
  }
}

@media (max-width: 448px) {
  header .header-content{
    padding: 0 16px;
    gap: 12px;
  }
}
